/*
========================================================================================
    HLA TYPING PIPELINE - NEXTFLOW CONFIGURATION
========================================================================================
    Configuration file for the HLA typing pipeline
    Optimized for CSC Puhti HPC environment
========================================================================================
*/

// Global default params
params {
    // Input/Output
    input                   = null
    input_type              = 'fastq'
    outdir                  = './results'
    
    // Tools to run
    tools                   = 'optitype,arcashla,hlahd'
    
    // Reference genome
    reference_build         = 'hg38'
    
    // Tool-specific parameters
    optitype_seq_type       = 'dna'
    arcashla_genes          = 'A,B,C,DQA1,DQB1,DRB1'
    spechla_genes           = 'A,B,C,DQA1,DQB1,DRB1'
    spechla_exon_only       = 0  // Set to 1 for exome data!
    spechla_path            = '/app/SpecHLA'
    use_local_spechla       = false
    local_lib_path          = ''

    // Additional native tools
    seq_type                = 'dna'  // dna or rna
    hlahd_genes             = 'A,B,C,DQA1,DQB1,DRB1'
    hlahd_db                = '/scratch/project_2008084/ozcanumu/hla_references/databases/hlahd_db'
    t1k_hlaidx              = '/scratch/project_2008084/hla_references/t1k_hlaidx'
    kourami_dir             = null
    kourami_db              = null
    kourami_hs38_ref        = null
    samtools_bin_dir        = '/projappl/project_2008084/bin'
    samtools_wrapper        = '/scratch/project_2008084/hla_tools/bin/samtools_wrapper.sh'

    // Consensus weighting runtime options
    run_modality                    = null
    consensus_weight_file           = null
    consensus_min_weight            = 0.0
    consensus_use_gene_specific_weights = false
    
    // HLA region extraction
    extract_hla_region      = false
    hla_region_start        = 28000000
    hla_region_end          = 34000000
    
    // Majority voting
    enable_majority_voting  = false
    mv_min_tools            = 2
    mv_resolution           = 2
    mv_genes                = 'A,B,C,DQA1,DQB1,DRB1'
    
    // Resource limits
    max_cpus                = 40
    max_memory              = '180.GB'
    max_time                = '24.h'
    
    // SLURM settings
    slurm_account           = null
    slurm_partition         = 'small'
    
    // Other options
    save_intermediate       = false
    help                    = false
    
    // Container cache (CSC Puhti specific)
    singularity_cache_dir   = '/scratch/project_2008084/hla_references/singularity_cache/containers'
}

// Process labels
process {
    // Default resources
    cpus   = 4
    memory = 16.GB
    time   = 4.h
    
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    maxRetries = 2
    
    // Resource labels
    withLabel: process_low {
        cpus   = 2
        memory = 8.GB
        time   = 2.h
    }
    
    withLabel: process_medium {
        cpus   = { check_max( 8 * task.attempt, 'cpus' ) }
        memory = { check_max( 32.GB * task.attempt, 'memory' ) }
        time   = { check_max( 8.h * task.attempt, 'time' ) }
    }
    
    withLabel: process_high {
        cpus   = { check_max( 16 * task.attempt, 'cpus' ) }
        memory = { check_max( 64.GB * task.attempt, 'memory' ) }
        time   = { check_max( 16.h * task.attempt, 'time' ) }
    }
    
    withLabel: low_resources {
        cpus   = 1
        memory = 4.GB
        time   = 1.h
    }
}

// Execution profiles
profiles {
    // Standard profile - Docker
    standard {
        docker.enabled = true
        docker.userEmulation = true

        process {
            withName: 'OPTITYPE|OPTITYPE_FASTQ' {
                container = 'fred2/optitype:latest'
            }
            withName: 'ARCASHLA_BAM|ARCASHLA' {
                container = 'nmdpbioinformatics/arcas-hla:latest'
            }
            withName: ARCASHLA_FASTQ {
                container = 'nmdpbioinformatics/arcas-hla:latest'
            }
            withName: 'SPECHLA_BAM|SPECHLA' {
                container = 'ghcr.io/yourusername/spechla:latest'
            }
            withName: SPECHLA_FASTQ {
                container = 'ghcr.io/yourusername/spechla:latest'
            }
            withName: 'HLAHD_BAM|HLAHD' {
                container = 'quay.io/biocontainers/hla-hd:1.4.0--hdfd78af_0'
            }
            withName: HLAHD_FASTQ {
                container = 'quay.io/biocontainers/hla-hd:1.4.0--hdfd78af_0'
            }
            withName: POLYSOLVER {
                container = 'sachet/polysolver:v4'
            }
            withName: KOURAMI {
                container = 'zlskidmore/kourami:latest'
            }
            withName: T1K_FASTQ {
                container = 'quay.io/biocontainers/t1k:1.0.9--h5ca1c30_0'
            }
            withName: SEQ2HLA {
                container = 'fred2/seq2hla:2.3'
            }
        }
    }

    // Docker profile
    docker {
        docker.enabled = true
        docker.userEmulation = true
        singularity.enabled = false
        conda.enabled = false
    }

    // Singularity profile - Use pre-downloaded SIF files on CSC Puhti
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = params.singularity_cache_dir
        docker.enabled = false
        conda.enabled = false

        process {
            withName: 'OPTITYPE|OPTITYPE_FASTQ' {
                container = "${params.singularity_cache_dir}/optitype.sif"
            }
            withName: 'ARCASHLA_BAM|ARCASHLA' {
                container = "${params.singularity_cache_dir}/arcashla.sif"
            }
            withName: ARCASHLA_FASTQ {
                container = "${params.singularity_cache_dir}/arcashla.sif"
            }
            withName: 'SPECHLA_BAM|SPECHLA' {
                // Run natively: SpecHLA tykky wrapper launches its own Singularity internally;
                // nested container calls fail inside the puhti Singularity profile.
                container = null
            }
            withName: SPECHLA_FASTQ {
                container = null
            }
            withName: 'HLAHD_BAM|HLAHD' {
                container = "${params.singularity_cache_dir}/hlahd.sif"
                containerOptions = "--bind ${params.samtools_bin_dir}/samtools:/usr/local/bin/samtools"
            }
            withName: HLAHD_FASTQ {
                container = "${params.singularity_cache_dir}/hlahd.sif"
                containerOptions = "--bind ${params.samtools_bin_dir}/samtools:/usr/local/bin/samtools"
            }
            withName: POLYSOLVER {
                container = "${params.singularity_cache_dir}/polysolver.sif"
            }
            withName: KOURAMI {
                container = "${params.singularity_cache_dir}/kourami.sif"
                containerOptions = "--bind /appl:/appl --bind ${params.samtools_wrapper}:/usr/local/bin/samtools --bind /usr/lib64/libncursesw.so.6:/usr/lib/x86_64-linux-gnu/libncursesw.so.6 --bind /usr/lib64/libtinfo.so.6:/usr/lib/x86_64-linux-gnu/libtinfo.so.6"
            }
            withName: T1K_FASTQ {
                container = "${params.singularity_cache_dir}/t1k.sif"
            }
            withName: SEQ2HLA {
                container = "${params.singularity_cache_dir}/seq2hla.sif"
            }
        }
    }

    // CSC Puhti profile - Optimized for CSC Puhti HPC
    puhti {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = params.singularity_cache_dir

        process {
            executor = 'slurm'
            queue = params.slurm_partition
            clusterOptions = params.slurm_account ? "--account=${params.slurm_account}" : null

            withName: 'OPTITYPE|OPTITYPE_FASTQ' {
                container = "${params.singularity_cache_dir}/optitype.sif"
            }
            withName: 'ARCASHLA_BAM|ARCASHLA' {
                container = "${params.singularity_cache_dir}/arcashla.sif"
                containerOptions = "--bind /projappl/project_2008084/bin/samtools:/usr/local/bin/samtools --bind /scratch/project_2008084/tmp:/tmp"
            }
            withName: ARCASHLA_FASTQ {
                container = "${params.singularity_cache_dir}/arcashla.sif"
                containerOptions = "--bind /projappl/project_2008084/bin/samtools:/usr/local/bin/samtools --bind /scratch/project_2008084/tmp:/tmp"
            }
            withName: 'SPECHLA_BAM|SPECHLA' {
                // Run natively: SpecHLA tykky wrapper launches its own Singularity internally;
                // nested container calls fail inside the puhti Singularity profile.
                container = null
            }
            withName: SPECHLA_FASTQ {
                container = null
            }
            withName: 'HLAHD_BAM|HLAHD' {
                container = "${params.singularity_cache_dir}/hlahd.sif"
                containerOptions = "--bind ${params.samtools_bin_dir}/samtools:/usr/local/bin/samtools"
            }
            withName: HLAHD_FASTQ {
                container = "${params.singularity_cache_dir}/hlahd.sif"
                containerOptions = "--bind ${params.samtools_bin_dir}/samtools:/usr/local/bin/samtools"
            }
            withName: POLYSOLVER {
                container = "${params.singularity_cache_dir}/polysolver.sif"
            }
            withName: KOURAMI {
                container = "${params.singularity_cache_dir}/kourami.sif"
                containerOptions = "--bind /appl:/appl --bind ${params.samtools_wrapper}:/usr/local/bin/samtools --bind /usr/lib64/libncursesw.so.6:/usr/lib/x86_64-linux-gnu/libncursesw.so.6 --bind /usr/lib64/libtinfo.so.6:/usr/lib/x86_64-linux-gnu/libtinfo.so.6"
            }
            withName: T1K_FASTQ {
                container = "${params.singularity_cache_dir}/t1k.sif"
            }
            withName: SEQ2HLA {
                container = "${params.singularity_cache_dir}/seq2hla.sif"
            }
        }
    }

    // SLURM profile
    // NOTE: puhti profile (above) is the active production profile on CSC Puhti
    slurm {
        process {
            executor = 'slurm'
            queue = params.slurm_partition
            clusterOptions = params.slurm_account ? "--account=${params.slurm_account}" : null
        }
    }

    // Test profile
    test {
        params {
            max_cpus   = 2
            max_memory = '6.GB'
            max_time   = '1.h'
        }
    }
}

// Report options
timeline {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/execution_trace.txt"
    fields    = 'task_id,hash,native_id,name,status,exit,submit,start,complete,duration,realtime,cpus,memory,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
}

dag {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_info/pipeline_dag.html"
}

// Manifest
manifest {
    name            = 'hla-typing-pipeline'
    author          = 'Umut'
    homePage        = 'https://github.com/yourusername/hla-typing-pipeline'
    description     = 'Comprehensive multi-tool HLA typing pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version         = '2.0.0'
}

// Function to check maximum resource limits
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "ERROR: Invalid max memory '${params.max_memory}'"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "ERROR: Invalid max time '${params.max_time}'"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min(obj, params.max_cpus as int)
        } catch (all) {
            println "ERROR: Invalid max cpus '${params.max_cpus}'"
            return obj
        }
    }
}

// HLA extraction settings
params {
    enable_hla_extraction = false  // Set to true to enable pre-extraction
}
